%% Compiler Options ============================================================
{erl_opts,
    [debug_info, warnings_as_errors, inline]}.

%% EUnit =======================================================================
{eunit_opts,
 [{report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
